:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey-light: #f9fafe;
  --color-grey-medium: #f3f5fc;
  --color-grey-dark: #e2e4ec;
  --color-blue: #3540ff;

  color: var(--color-black);
  background-color: var(--color-grey-light);
}
