.root {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 20rem));
  justify-content: center;
  height: 5rem;
}

.button {
  --border-radius: 0.4rem;
  --border-width: 0.1rem;

  /* To relatively position the input */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-width) solid var(--color-grey-4);
  border-right-width: 0;

  &:first-child {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }

  &:last-child {
    border-right-width: var(--border-width);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }

  &:hover {
    color: var(--color-blue-dark);
    background-color: var(--color-grey-2);
  }

  &.isChecked {
    border-color: var(--color-blue-dark);
    color: var(--color-white);
    background-color: var(--color-blue-dark);
  }
}

.input {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 2px solid var(--color-black);
  }
}
