:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey-lighter: #f9fafe;
  --color-grey-light: #f3f5fc;
  --color-grey-medium: #f2f4f6;
  --color-grey-dark: #e2e4ec;
  --color-grey-darker: #a2a8c1;
  --color-blue: #3540ff;

  /* 1rem = 10px */
  --text-size-xl: 3rem;
  --text-size-l: 1.9rem;
  --text-size-m: 1.4rem;
  --text-size-s: 1.2rem;

  --animation-timing-function: ease-in-out;
  --animation-duration: 0.2s;
}
