.root {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    cursor: pointer;
  }

  &.icon_heart {
    background-image: url("./icons/icon-heart.svg");
  }

  &.icon_threeDots {
    background-image: url("./icons/icon-three-dots.svg");
  }

  &.icon_bell {
    background-image: url("./icons/icon-bell.svg");
  }

  &.icon_calendar {
    background-image: url("./icons/icon-calendar.svg");
  }

  &.icon_mail {
    background-image: url("./icons/icon-mail.svg");
  }
}

.visuallyHiddenText {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
