.root {
  --border: 0.1rem solid var(--color-grey-medium);

  display: grid;
  /* prettier-ignore */
  grid-template:
    "dots       .          .          .          .          favorites"  3.2rem
    ".          .          photo      photo      .          ."          10.0rem
    ".          .          .          .          .          ."          2.4rem
    "name       name       name       name       name       name"       1.5rem
    ".          .          .          .          .          ."          1.1rem
    "profession profession profession profession profession profession" 1.4rem
    ".          .          .          .          .          ."          4.0rem
    "alert      alert      calendar   calendar   message    message"    4.4rem
    "ratings    ratings    ratings    ratings    ratings    ratings"    9.0rem
    "profile    profile    profile    bookVisit  bookVisit  bookVisit"  6.0rem /
     1fr        1fr        1fr        1fr        1fr        1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-white);
}

.name {
  grid-area: name;
  font-size: var(--text-size-l);
  font-weight: 600;
  line-height: 100%;
}

.profession {
  grid-area: profession;
  line-height: 100%;
  color: var(--color-grey-darker);
}

.photo {
  grid-area: photo;
  object-fit: cover;
  border-radius: 100%;
  width: 10rem;
  height: 100%;
}

.actions {
  display: contents;
}

.favorites {
  grid-area: favorites;
}

.more {
  grid-area: dots;
}

.alert {
  grid-area: alert;
}

.calendar {
  grid-area: calendar;
}

.message {
  grid-area: message;
}

.textButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: var(--text-size-s);
  color: var(--color-grey-darker);
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    border-color: var(--color-blue);
    color: var(--color-white);
    background-color: var(--color-blue);
  }

  & + & {
    border-left: var(--border);
  }
}

.profileLink {
  grid-area: profile;
}

.bookVisit {
  grid-area: bookVisit;
}

.ratingsPanel {
  grid-area: ratings;
  border-top: var(--border);
  border-bottom: var(--border);
}
