.root {
  width: 10.4rem;
  padding: 1.5rem 1rem 1.5rem 3.8rem;
  background: url("./search-icon.svg") left 1rem center no-repeat;
  transition: width var(--animation-timing-function) var(--animation-duration);

  &::placeholder {
    color: var(--color-grey-6);
  }

  &:focus {
    width: 100%;
    max-width: 31.6rem;
    background-color: var(--color-white);
    outline: 2px solid var(--color-grey-6);
  }
}
