.root {
  display: grid;
  /* prettier-ignore */
  grid-template:
    "buttons average" 50%
    "buttons count"   50% /
     17.2rem 4.3rem;
  gap: 0.8rem 4.2rem;
  align-items: center;
  justify-items: center;
  padding: 2.2rem 3.3rem;
}

.average {
  grid-area: average;
  font-size: var(--text-size-xxl);
  font-weight: 600;
  line-height: 2.5rem;
}

.count {
  grid-area: count;
  font-size: var(--text-size-s);
  line-height: 1.1rem;
  color: var(--color-grey-6);
}

.buttons {
  grid-area: buttons;
}
