.root {
  flex-grow: 1;
  display: grid;
  /* prettier-ignore */
  grid-template:
    "header" auto
    "main"   1fr /
    minmax(auto, 138.5rem);
  row-gap: 5.1rem;
  justify-content: center;
  align-items: center;
  padding: 1.8rem;
  width: 100%;
  height: 100%;

  @media (min-width: 800px) {
    padding: 6.4rem;
  }
}

.header {
  /* To absolutely position title and search, so that they are removed from the
   * regular flow and don't affect page select's centering */
  position: relative;
  grid-area: header;
  display: grid;
  /* prettier-ignore */
  grid-template:
    "title"        auto
    "page-select"  auto
    "search-input" auto /
     auto;
  row-gap: 1.6rem;
  align-items: center;
  justify-items: center;
  height: auto;

  @media (min-width: 1200px) {
    /* prettier-ignore */
    grid-template:
      "title page-select search-input" 100% /
       1fr   auto        1fr;
    height: 5rem;
  }
}

.main {
  grid-area: main;
}

.title {
  grid-area: title;
  font-size: var(--text-size-xl);
  font-weight: 600;
  text-wrap: nowrap;

  @media (min-width: 1200px) {
    position: absolute;
    left: 0;
  }
}

.form {
  display: contents;
}

.pageSelect {
  grid-area: page-select;
}

.searchInput {
  grid-area: search-input;

  @media (min-width: 1200px) {
    position: absolute;
    right: 0;
  }
}
