.rootText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rootSpecialists {
  display: grid;
  grid-template-columns: repeat(auto-fit, 32.3rem);
  gap: 3.1rem;
  justify-content: center;
  align-items: center;
}
